body {
    text-align: center;
    background-color: linen;
    font-family: Georgia, serif;
    padding-left: 1em;
    padding-right: 1em;
}

.leaflet-tooltip {
    padding-top: 0px;
}

.vis-container {
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

#city-vis-legend {
    position: relative;
    height: 700px;
    width: 10vw;
}

#legend-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#city-vis-container {
    width: 30vw;
    height: 700px;
    border: 1px solid black;
}

#parallel-plot-container {
    position: relative;
    height: 700px;
    width: 40vw
}

#parallel-plot {
    position: absolute;
    top: 0;
    left: 0;
}
