body {
    text-align: center;
    background-color: antiquewhite;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

.leaflet-tooltip {
    padding-top: 0px;
}

#city-vis-container {
    width: 50%;
    height: 800px;
    margin: auto auto auto auto;
    border: 1px solid black;
}

