body {
    text-align: center;
    background-color: antiquewhite;
}

.leaflet-tooltip {
    padding-top: 0px;
}

#city-vis-container {
    width: 50%;
    height: 800px;
    margin: auto auto auto auto;
    border: 1px solid black;
}