body {
    text-align: center;
    background-color: antiquewhite;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

.leaflet-tooltip {
    padding-top: 0px;
}

.vis-container {
    display: inline-block;
    margin: 20px;
}

#city-vis-container {
    width: 40vw;
    height: 700px;
    border: 1px solid black;
}

