body {
    text-align: center;
    background-color: linen;
    font-family: Georgia, serif;
    padding-left: 1em;
    padding-right: 1em;
}

.col-md-2, .col-md-3, .col-md-4, .col-md-6 {
    padding: 0;
}

.close {
    margin: 0 !important;
}

.helptip {
    border: none;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
    color: white;
    background-color: #51a2ff;
    position: absolute;
    top: 50%;
    transform: translate(5px, -50%);
}

.helptip span {
    position: absolute;
    transform: translate(-50%, -50%);
}

.leaflet-tooltip {
    padding-top: 0px;
}

.vis-container {
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

#header-container {
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#screencast-button {
    position: absolute;
    right: 20vw;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

#help-button {
    position: absolute;
    right: 5vw;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

#screencastModal {
    position: absolute;
    left: 40vw;
    transform: translateX(-50%);
}

#city-vis-legend {
    position: relative;
    height: 700px;
}

#legend-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#city-vis-container {
    margin-left: -100px;
    width: 30vw;
    height: 650px;
    border: 1px solid black;
}

#parallel-plot-container {
    /* padding-top: 450px; */
    position: relative;
    height: 55vh;
    width: 50vw;
}

#parallel-plot {
    position: absolute;
    top: 0;
    left: 0;
}

#right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#neighborhood-list-container {
    height: 150px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 5px;
}

#process-button-container {
    padding: 10px 0 10px 0;
}

@media (min-width: 95vw) {
    .container{
        max-width: 95vw;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: #161616;
}

.btn-secondary {
    color: #fff;
    border-color: #6c757d;
    background-color:#161616;
}

.btn-secondary:hover {
    cursor: pointer;
}

#visualizations {
    padding-top: 20px
}

#processButton {
    width: 500px;
    margin-left: 150px;
    background-color: #161616;
    border-color: #6c757d;
    color: white;
}

h1 {
    font-size: 60px;
}

p {
text-align: center;
}
